/* common styles */

:root {
    --nav-top: 2.75rem;
    --nav-left: 3rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #E9E8ED;
}

/* navbar */

nav {
    width: 100%;
    height: 4rem;
    background-color: #1C212F;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0 .3rem .4rem rgba(0, 0, 0, .4);
}

h1 {
    margin: 0;
    padding: 0 2rem;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #FFF;
}

nav a:hover {
    color: #CCC;
}

/* end of navbar */

/* search form */

section:first-of-type {
    width: 100%;
    height: 9.6rem;
    background-color: #F2F6F9;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
    position: relative;
}

fieldset > label {
    position: absolute;
    top: calc(var(--nav-top) + 0.6rem);
    left: calc(var(--nav-left) + 1rem);
    z-index: 1;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
    pointer-events: none;
    transition: all .2s;
}

label.active {
    top: calc(var(--nav-top) - 1.2rem);
    padding: 0 .25rem;
    background-color: #F2F6F9;
    border-radius: 0.25rem;
    font-size: 1.2rem; 
    font-weight: 600;
    color: #34CB6E;
}

input {
    width: 30rem;
    height: 3rem;
    position: absolute;
    top: var(--nav-top);
    left: var(--nav-left);
    padding: 0 1rem;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    outline: none;
}

input:focus {
    border: medium solid #34CB6E;
    border-radius: .5rem;
}


.text-helper {
    position: absolute;
    top: calc(var(--nav-top) + 4rem);
    left: calc(var(--nav-left) + 1rem);
    display: block;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.2rem;
    color: #999;
}

.required:after {
    content: "*";
}

/* end of search form */

/* container */

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#container > p {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #888;

}

#instructions {
    display: block;
    padding: 3rem;
    text-align: center;
}

.card {
    width: 30rem;
    height: 40rem;
    margin: 3rem;
    padding: 0rem;
    background-color: #fff;
    box-shadow: .2rem .2rem .4rem rgba(0, 0, 0, .4);
}

.thumbnail-wrapper {
    width: 100%;
    height: 29.6rem;
    background: linear-gradient(90deg, #000, #333, #000);
    overflow: hidden;
    display: flex;
    align-items: center;
}

.thumbnail {
    width: 100%;
    margin: auto;
}

.separator {
    width: 100%;
    height: .4rem;
    background-color: #34CB6E;
}

.panel {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.classification {
    width: 20rem;
    height: 10rem;

}

.probability {
    width: 10rem; 
    height: 10rem;
    background-color: #F2F6F9;
}

.classification-label {
    margin: 1rem;
    padding: 0;
    font-family: "Open Sans", Arial, sans-serf;
    font-size: 1.8rem;
    font-weight: 400;
    color: #1C212F;
}

.probability-pct {
    margin: 1rem;
    padding: 0;
    font-family: "Open Sans", Arial, sans-serf;
    font-size: 3rem;
    font-weight: 400;
    color: #1C212F;
}

.classification-title {
    margin: 1rem;
    padding: 0;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #7A8399;
}

/* end of container */

/* end of common styles */